@font-face {
  font-family: 'DalseoHealingBold';
  src: url('./assets/fonts/DalseoHealingBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'DalseoHealingBold',sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
